<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>fuben</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Devicemodifystudent</display-name>
    <servlet-name>Devicemodifystudent</servlet-name>
    <servlet-class>deviceservlet.Devicemodifystudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Devicemodifystudent</servlet-name>
    <url-pattern>/Devicemodifystudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkmodifystudent</display-name>
    <servlet-name>checkmodifystudent</servlet-name>
    <servlet-class>deviceservlet.checkmodifystudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkmodifystudent</servlet-name>
    <url-pattern>/checkmodifystudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deviceaddstudent</display-name>
    <servlet-name>Deviceaddstudent</servlet-name>
    <servlet-class>deviceservlet.Deviceaddstudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deviceaddstudent</servlet-name>
    <url-pattern>/Deviceaddstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>weixiumodifystudent</display-name>
    <servlet-name>weixiumodifystudent</servlet-name>
    <servlet-class>deviceservlet.weixiumodifystudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>weixiumodifystudent</servlet-name>
    <url-pattern>/weixiumodifystudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Devicedeletestudent</display-name>
    <servlet-name>Devicedeletestudent</servlet-name>
    <servlet-class>deviceservlet.Devicedeletestudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Devicedeletestudent</servlet-name>
    <url-pattern>/Devicedeletestudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Applyaddstudent</display-name>
    <servlet-name>Applyaddstudent</servlet-name>
    <servlet-class>applyservlet.Applyaddstudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Applyaddstudent</servlet-name>
    <url-pattern>/Applyaddstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>deviceservlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
</web-app>